.canvas {
  border: 1px black dotted;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#canvas-draft {
  background-color: transparent;
}
body {
  overflow: hidden;
}
#canvas-container {
  height: 720px;
}


/* creates a circle */
.createCircle{
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
}

.box {
  border-radius: 15px;
  background-color: rgba(0, 181, 204, 1);
}